@model PaymentForInvoiceViewModel
@{
    ViewData["Title"] = "Create Invoice";
    decimal price = Model.Payment.Fee + Model.Payment.InstallationFee;
}
<h2><i class="fa-solid fa-file-invoice-dollar"></i> @ViewData["Title"]</h2>
<hr />
<div class="row shadow-lg p-3">
    <form asp-action="Create" asp-controller="Invoice" asp-route-id="@Model.Payment.Id" method="post">
        <div class="row m-2 justify-content-center">
           
            <div class="col-6 card" id="createInvoice">
                <div class="row m-1">
                    <div class="alert alert-success">
                        <h4><em><i class="fa-solid fa-hand-holding-dollar"></i> INFOCAST SYSTEMS</em> - <strong><em>Billing</em></strong></h4>
                    </div>
                    <div class="alert row">
                        <div class="col-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <h2 class="m-0 p-0">ФАКТУРА - ОРИГИНАЛ</h2>
                        </div>
                        <div class="col-6 text-end">
                            <h2 class="m-0 p-0">Фактура №: @Model.InvoiceNumber</h2>
                            <h5 class="m-0 p-0">@Model.CreatedOn.ToString("D", CultureInfo.CurrentCulture)</h5>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row m-2">
                    <div class="col-6 alert alert-success d-block p-2 ">
                        <address>
                            <strong class="alert alert-success d-block p-1 mb-0 text-center">Получател:</strong><br>
                            <strong>Клиент: </strong>@Model.Client.FullName<br>
                            <strong>Адрес: </strong>@Model.Client.Address<br>
                            <strong>ЕИК: </strong>
                            <input class="w-auto" type="text" asp-for="UIN">
                            <span asp-validation-for="UIN" class="text-danger"></span>
                            <br>
                            <strong>ИН по ДДС: </strong>
                            <input class="w-50" type="text" asp-for="VATIN" name="VATIN">
                            <span asp-validation-for="VATIN" class="text-danger"></span>
                            <br>
                            <strong>МОЛ: </strong>
                            <input class="w-50" type="text" asp-for="MOL" name="MOL">
                            <span asp-validation-for="MOL" class="text-danger"></span>
                        </address>
                    </div>
                    <div class="col-6 alert alert-success d-block p-2">
                        @await Component.InvokeAsync("Company")
                    </div>
                </div>
                <hr />
                <div class="row m-2">
                    <div class="col-6">
                        <strong>Начин на плащане:</strong><br>
                        <input type="checkbox" name="BankTransfer" asp-for="BankTransfer" onchange="showElement()">
                        <span asp-validation-for="BankTransfer" class="text-danger"></span>
                        <label for="html">Банков път</label>
                        <div class="alert" id="bancAccount">
                            @await Component.InvokeAsync("BankDetails")
                        </div>
                    </div>
                    <div class="col-6">
                        <strong>Дата на събитието:</strong><br>
                        @DateTime.Now.ToString("D", CultureInfo.CurrentCulture)<br>
                    </div>
                </div>
                <hr />
                <div class="row m-2">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td><strong>Такса за Интернет</strong></td>
                                    <td class="text-center"><strong>Инсталационна такса</strong></td>
                                    <td class="text-center"><strong>mесечна такса</strong></td>
                                    <td class="text-center"><strong>Период</strong></td>
                                    <td class="text-right"><strong>Общо</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Payment.Name</td>
                                    <td class="text-center">@Model.Payment.InstallationFee</td>
                                    <td class="text-center">@Model.Payment.Fee</td>
                                    <td class="text-center">@Model.Payment.FromDate.ToString("D", CultureInfo.CurrentCulture) - @Model.Payment.ToDate.ToString("D", CultureInfo.CurrentCulture)</td>
                                    <td class="text-right">@price</td>
                                </tr>
                                <tr>
                                    <td>чл.113, ал.9 от ЗДДС<br>Лицето не е регистрирано по ЗДДС</td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-end">ДДС</td>
                                    <td class="text-right">0.00%</td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-right"><strong>Общо</strong></td>

                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-right"><strong>@price</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row m-2">
                        <div class="col-6">
                            <strong>Съставил</strong><br>
                            <input class="form-control" type="text" asp-for="Compiler" name="Compiler" placeholder="Снежана Никова">
                            <span asp-validation-for="Compiler" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <strong>Получил</strong><br>
                            <input class="form-control" type="text" asp-for="Recipient" name="Recipient">
                            <span asp-validation-for="Recipient" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-outline-primary mt-2" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
