@model PaymentForInvoiceViewModel
@{
    ViewData["Title"] = "Invoice";
    decimal price = Model.Payment.Fee + Model.Payment.InstallationFee;
    int invoiceCount = Model.InvoiceNumber + 49;
}


<h2><i class="fa-solid fa-file-invoice-dollar"></i> @ViewData["Title"]</h2>
<div class="shadow-lg" style="padding: 30px">
    <hr />
    <div class="row shadow-lg text-lg-start">
        <div class="container" id="containerId">
            <page class="row m-3">
                <div class="col-12 mt-3">
                    <div class="row">
                        <h2><em><i class="fa-solid fa-hand-holding-dollar"></i> INFOCAST SYSTEMS</em> - <strong><em>Billing</em></strong></h2>
                        <hr />
                        <div class="col-6">
                            <h2>ФАКТУРА - ОРИГИНАЛ</h2>
                        </div>
                        <div class="col-6 text-end">
                            <h2>Фактура №: @invoiceCount</h2>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <address>
                                <strong>Получател:</strong><br>
                                <strong>Клиент: </strong>@Model.Client.FullName<br>
                                <strong>Адрес: </strong>@Model.Client.Address<br>
                                <strong>ЕИК: <input class="w-50" type="text" id="ident" name="Ident" placeholder="9999999999"></strong><br>
                                <strong>ИН по ДДС: <input class="w-50" type="text" id="vatident" name="vatident"></strong><br>
                                <strong>МОЛ: <input class="w-50" type="text" id="vatident" name="vatident"></strong>
                            </address>
                        </div>
                        <div class="col-6">
                            <address>
                                <strong>Издател:</strong><br>
                                <strong>Инфокаст системс</strong><br>
                                <strong>Адрес: </strong>БЪЛГАРИЯ София, Община  Самоков, с. Райово, п.к. 2017<br>
                                <strong>ЕИК: <input class="w-50" type="text" id="ident" name="Ident" placeholder="203231847"></strong><br>
                                <strong>ИН по ДДС: <input class="w-50" type="text" id="vatident" name="vatident"></strong><br>
                                <strong>МОЛ: </strong>Снежана Г. Никова
                            </address>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <strong>Начин на плащане:</strong><br>
                            <input type="radio" id="banc" name="fav_language" value="bank" checked>
                            <label for="html">Банков път</label><br>
                            <input type="radio" id="cash" name="fav_language" value="Cash">
                            <label for="cash">Каса</label><br>
                        </div>
                        <div class="col-6">
                            <strong>Дата на събитието:</strong><br>
                            @DateTime.Now.ToString("D", CultureInfo.CurrentCulture)<br><br>

                        </div>
                    </div>
                    <hr />
                </div>
            </page>
            <div class="row m-5">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td><strong>Такса за Интернет</strong></td>
                                <td class="text-center"><strong>Инсталационна такса</strong></td>
                                <td class="text-center"><strong>Месечна такса</strong></td>
                                <td class="text-center"><strong>Период</strong></td>
                                <td class="text-right"><strong>Общо</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Payment.Name</td>
                                <td class="text-center">@Model.Payment.InstallationFee</td>
                                <td class="text-center">@Model.Payment.Fee</td>
                                <td class="text-center">@Model.Payment.FromDate.ToString("D",CultureInfo.CurrentCulture) - @Model.Payment.ToDate.ToString("D",CultureInfo.CurrentCulture)</td>
                                <td class="text-right">@price</td>
                            </tr>
                            <tr>
                                <td>чл.113, ал.9 от ЗДДС<br>Лицето не е регистрирано по ЗДДС</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-end">ДДС</td>
                                <td class="text-right">0.00%</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>Общо</strong></td>

                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>@price</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row m-2">
                    <div class="col-6">
                        <strong>Съставил</strong><br>
                        <input class="form-control" type="text" id="compiled" name="Ident" placeholder="Снежана Никова">
                    </div>
                    <div class="col-6">
                        <strong>Получил</strong><br>
                        <input class="form-control" type="text" id="received" name="Ident">
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="btn btn-outline-primary mt-2" onclick="printInvoice()">Create</div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
