@model IEnumerable<ActivatedClientsViewModel>
@inject IPromotionService promotionService;
@inject IClientsService clientsService; 
@{
    ViewData["Title"] = "All";
    var clientsCount =  clientsService.GetAllClientsAsync("", "").Result.Count();
}
<h2><i class="fa-solid fa-users"></i> All Client</h2>
<div class="shadow-lg" style="padding: 30px">
    <hr />
    @if (TempData["message"] != null)
    {
        <div class="alert alert-info" id="alert">
            <label>✔</label>
            @TempData["message"]
        </div>
    }
    <div class="row shadow-lg">

        <div class="shadow-lg p-3">
            <form class="row" asp-controller="Clients" asp-action="All" method="get">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </div>
                <div class="col-md-2">
                    <input class="form-control" name="searchString" placeholder="Search By Name">
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="orderBy">
                        <option value="">Order By</option>
                        <option value="FullName">FullName</option>
                        <option value="FullNameDesc">FullName (Desc)</option>
                        <option value="ActivationDate">Activation Date</option>
                        <option value="ActivationDateDesc">Activation Date (Desc)</option>
                        <option value="ExpiredDate">Expired Date</option>
                        <option value="ExpiredDateDesc">Expired Date (Desc)</option>
                        <option value="ApplicationUser">User</option>
                        <option value="ApplicationUserDesc">User (Desc)</option>
                    </select>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.Raw("Full Name")
                            </th>
                            <th>
                                @Html.Raw("Activation Date")
                            </th>
                            <th>
                                @Html.Raw("Expiried Date")
                            </th>
                            <th>
                                @Html.Raw("User")
                            </th>
                            <th>
                                @Html.Raw("Action")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.Payments.Any(p => p.Pending))
                                {
                                    <td class="text-danger">
                                        <a asp-controller="Clients" asp-action="Details" asp-route-id="@item.ClientId" class="link-danger"> @Html.DisplayFor(modelItem => item.FullName) (Pending)</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a asp-controller="Clients" asp-action="Details" asp-route-id="@item.ClientId" class="link-dark"> @Html.DisplayFor(modelItem => item.FullName)</a>
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActivationDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpiredDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicationUser)
                                </td>
                                <td>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ClientId }, new { @class = "btn btn-outline-danger btn-sm", onclick = $"return confirm('Are you sure you want to delete {item.FullName}?');" })
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (User.IsAdmin() && clientsCount > 5)
            {
                @if (await promotionService.PromotionIsAdded())
                {
                    <div class="shadow-lg p-3">
                        <div id="randomRecord"><h2 class="text-primary">No active promotion!</h2></div>

                    </div>

                }
                else
                {
                    <div class="shadow-lg p-3">
                        <div id="randomRecord"><button id="showRandomRecord" class="btn btn-outline-primary">Add a bonus month to a random client!</button></div>

                    </div>
                }
            }
        </div>
    </div>
</div>