@model AddTechProblemView
@{
    ViewData["Title"] = "Add";
}

<h2><i class="fa-solid fa-triangle-exclamation"></i> Add TechProblem</h2>
<div class="shadow-lg" style="padding: 30px">
    <hr />
    <div class="row shadow-lg">
        <div class="shadow-lg col-md-4 p-3">
            <h4>Report a problem</h4>
            <hr />
            <form asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ClientId" class="control-label"></label>
                    <select asp-for="ClientId" class="form-control" onchange="makeCardTechProblem(@JsonConvert.SerializeObject(Model.ClientsFromISPRouter))">
                        <option value="">--Please choose Client--</option>
                        @foreach (var client in Model.ClientsFromISPRouter)
                        {
                            <option value="@client.Id">@client.FullName</option>
                        }
                    </select>
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                </div>
                <input id="clientPhone" name="ClientPhone" hidden>
                <input id="clientEmail" name="ClientEmail" hidden>
                <input id="clientAddress" name="ClientAddress" hidden>
                <div class="form-group">
                    <input asp-for="ClientName" id="ClientNameId" hidden />
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" id="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegisteredOn" class="control-label"></label>
                    <input asp-for="RegisteredOn" class="form-control" type="test" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture)" readonly />
                    <span asp-validation-for="RegisteredOn" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="SendMail" /> @Html.DisplayNameFor(model => model.SendMail)
                    </label>
                </div>
                <div class="form-group">
                    <input asp-for="RegisterProblemUserId" class="form-control" hidden />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-primary mt-2" />
                </div>
            </form>
        </div>
        <div class="col-md-8 shadow-lg p-3">
            <h4>Client info</h4>
            <hr />
            <div id="demoCard" hidden></div>
            <div id="demoDesc" hidden></div>

        </div>
    </div>
    <div class="row shadow-lg">
        <h4 class="mt-5">All problems</h4>
        <hr />
        @foreach (var item in Model.TechnicalProblems)
        {
            <div class="col-md-4 shadow-lg p-3">
                @if (item.Solved)
                {
                    <h5 class="alert-success p-3">Resolved</h5>
                }
                else
                {
                    <h5 class="alert-danger p-3">Not resolved</h5>
                }
                <h4 class="card-title mt-1">@item.ClientName</h4>
                <hr />
                <h5 class="card-title mt-1">Tel: @item.ClientPhone</h5>
                <h5 class="card-title mt-1">Address: @item.ClientAddress</h5>
                <h5 class="card-title mt-1">Email: @item.ClientEmail</h5>
                <h5 class="card-title mt-1"><i class="fa-regular fa-clock"></i> @item.RegisteredOn</h5>
                <hr />
                @if (!item.Solved)
                {
                    <h5><span class="fw-bold">Description: </span>@item.Description</h5>
                    <hr />
                    <h5 class="card-title mt-1">User: @item.RegisterProblemUserName</h5>
                    <a class="btn btn-outline-danger btn-sm mt-2" asp-controller="TechnicalProblem" asp-action="Resolve" asp-route-id="@item.Id"><i class="fa-brands fa-resolving"></i> Resolve</a>
                }
                else
                {
                    <h6><span class="fw-bold">Resolved: </span>@item.ResolvedOn</h6>
                    <h6><span class="fw-bold">Resolved by: </span>@item.ResolvedProblemUserName</h6>
                    <h5><span class="fw-bold">Solution: </span>@item.Solution</h5>
                }

            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
