@model ICollection<AllTechProblemViewModel>
@{
    ViewData["Title"] = "All";
}
<h2 ><i class="fa-solid fa-hand-dots"></i> All TechProblem</h2>
<div class="shadow-lg" style="padding: 30px">
    <hr />
    <div class="row shadow-lg">
        @foreach (var item in Model)
        {
            <div class="col-md-4 shadow-lg p-3">
                    <h5><i class="fa-solid fa-triangle-exclamation alert-danger"></i></h5>
                    <h4 class="card-title mt-1">@item.ClientName</h4>
                    <hr />
                    <h5 class="card-title mt-1">@item.Phone</h5>
                    <h5 class="card-title mt-1">@item.Address</h5>
                    <h5 class="card-title mt-1">@item.RegisteredOn</h5>
                    <h5 class="card-title mt-1">@item.RegisterProblemUserName</h5>
                    <p class="mb-0"><span class="fw-bold">Description: </span>@item.Description</p>
                    <a class="btn btn-outline-danger btn-sm mt-2" asp-controller="TechnicalProblem" asp-action="Resolve" asp-route-id="@item.Id"><i class="fa-brands fa-resolving"></i> Resolve</a>
              
            </div>
        }
    </div>
</div>

